tqdm
plotly
scikit-learn
streamlit
torch
torchvision
opencv-python
numpy
matplotlib

# Core Dependencies
Pillow  # Updated for image processing


# 3D Visualization
plotly
pyvista
vedo
imageio # For GIF/PNG handling

# Optional (for smaller Docker images)
--find-links https://download.pytorch.org/whl/torch_stable.html
--extra-index-url https://download.pytorch.org/whl/cpu
